---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Modello from "../components/Modello.astro";
import Processo from "../components/Processo.astro";
import Valori from "../components/Valori.astro";
import Contatto from "../components/Contatto.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Header />
  <main id="main">
    <Hero />
    <Modello />
    <Processo />
    <Valori />
    <Contatto />
  </main>
  <Footer />
</Base>
